.logo {
  border-radius: 50%;
}

.navbar {
  padding: 1%;
  font-size: x-large;
}

.carousel-section {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.container {
  margin-top: 80px;
}

button {
  margin-top: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.btn-group {
  display: flex;
}

.btn-group .btn a {
  padding: 5px 15px;
  background-color: #28a745;
  color: #ffffff;
  border-radius: 3px;
  margin-left: -2px;
}

.btn-group a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.guarantee {
  text-decoration: none;
  color: aliceblue;
}

/* new */

* {
  margin: 0px;
  padding: 0px;

}

.card-img-top {
  height: 200px;
  width: 200px;
  margin: auto;
}

.card {
  border: 2px;
  background-color: #ffffff;
}

.rounded {
  width: 200px;
  margin: auto;
}

.rounded img {
  border-radius: 50%;
}

.contact {
  text-align: center;
}

.foot {
  text-align: center;
  max-width: 1200;
  margin: auto;

}

a {
  text-decoration: none;
}